/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.button {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
}

.button:focus {
    outline: none;
}

.actions {
    display: inline-block;
}

.action {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
}

.light {
    background: rgb(255, 220, 0);
}

.grip {
    background: rgb(46, 204, 64);
}

.transform {
    background: rgb(0, 116, 217);
}

.rotate {
    background: rgb(255, 65, 54);
}

.add-action {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

.plus {
    text-align: center;
    font-size: 45px;
    height: 45px;
    width: 45px;
    line-height: 45px;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.option {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
}

.option.light {
    background-image: url('../img/light-small.png');
}

.option.grip {
    background-image: url('../img/grip-small.png');
}

.option.rotate {
    background-image: url('../img/rotate-small.png');
}

.show-options .option {
    -webkit-transform: scale(1);
    opacity: 1;
}

.show-options .option.rotate {
    top: 20%;
    left: 20%;
}

.show-options .option.transform {
    top: 20%;
    left: 80%;
}

.show-options .option.grip {
    top: 80%;
    left: 20%;
}

.show-options .option.light {
    top: 80%;
    left: 80%;
}

.modifier {
    width: 100%;
    height: 100%;
}

.modifier.light.enabled {
    background: url("../img/light-on.png");
}

.modifier.light.disabled {
    background: url("../img/light-off.png");
}

.modifier.grip.enabled {
    background: url("../img/grip-closed.png");
}

.modifier.grip.disabled {
    background: url("../img/grip-open.png");
}