/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.action {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 10px;
}


.action.light {
    background: rgb(255, 220, 0);
}

.action.grip {
    background: rgb(46, 204, 64);
}

.action.transform {
    background: rgb(0, 116, 217);
}

.action.rotate {
    background: rgb(255, 65, 54);
}
