/* apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    margin: 10px;
    background: #2D2D2D;
}

.action {
    cursor: pointer;
}

.tail {
    opacity: 0.90;
}

.action.light .box,
.action.light .tail {
    fill: #FFDC00;
}

.action.grip .box,
.action.grip .tail {
    fill: #2ECC40;
}

.action.transform .box,
.action.transform .tail {
    fill: #0074D9;
}

.action.rotate .box,
.action.rotate .tail {
    fill: #FF4136;
}

.timeline {
    fill: #0f0f0f;
}

#front {
    z-index: 100;
    fill: blue;
}